body{
    /*height: 100% !important;*/
}
.simu_top{
    background-color: #ffffff;
    padding: 1.5rem 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #333333;
}
.simu_top>div:nth-of-type(1)>span:nth-of-type(1){
    margin-right: 1rem;
}
.simu_top>div:nth-of-type(1)>span:nth-of-type(2){
    margin-right: .5rem;
}
.ye_color{
    color: #ff9212;
}
.simu_mainbox{
    padding: 0 1.2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    overflow: hidden;
    background-color: #ffffff;
}
.kong{
    height: 6rem;
    background-color: #F2F2F2;
}
.simu_type{
    display: inline-block;
    border: 1px #ff9212 solid;
    border-radius: 5px;
    color: #ff9212;
    width: 6.3rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    margin-right: 1rem;
}
.simu_text{
    line-height: 2.5rem;
    padding: 1.5rem 0;
    padding-bottom: 1rem;
}
.simu_imgdiv{
    width: 100%;
    height: 17.5rem;
    padding-bottom: 1rem;
    display: none;
}
.simu_imgdiv>img{
    width: 100%;
    height: 100%;
}
.simu_booldiv{
    padding-bottom: 1rem;
}
.simu_booldiv>div{
    padding: 1rem 0;
    display: flex;
}
.simu_booldiv .iconfont{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 3rem;
}
.simu_true{
    position: relative;
    width: 100%;
}
.simu_true>.an{
    margin-left: 3.5rem;
    width: 90%;
    display: inline-block;
}
.simu_true:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    margin: auto;
    content: "";
    width: 24px;
    height: 24px;
    margin-top: -5px;
    border: 1px #dddddd solid;
    border-radius: 50%;
}
.true_font:before{
    background-color: #ff9212;
    content: "\e66f";
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
}
.false_font:before{
    background-color: #F73939;
    content: "\e692";
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
}
.cho_font:before{
    background-color: #dddddd;
    content: "\e66f";
    text-align: center;
    line-height: 24px;
    color: #ffffff;
    font-family: "iconfont" !important;
    font-style: normal;
    font-weight: normal;
}
.duo_btn{
    margin-bottom: 1.5rem;
    background-color: #ff9212;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: .5rem 0;
    display: none;
}
.simu_fotrue{
    display: inline-block;
    font-size: 1.7rem;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.od_footer .simu_fotrue:nth-of-type(1){
    margin-right: 2.5rem;
    border: 1px #ff9212 solid;
    color: #ff9212;
}
@media screen and (max-width: 320px){
    .od_footer .simu_fotrue:nth-of-type(1){
        margin-right: .5rem;
    }
}
.od_footer .simu_fotrue:nth-of-type(2){
    color: #999999;
    border: 1px #dddddd solid;
}
.simu_footer{
    height: 5rem;
    line-height: 5rem;
}
#simu_commit{
    font-size: 1.8rem;
}
/*顺序练习*/
.simu_seqbox{
    margin-top: 0;
    overflow: hidden;
}
.sequ_footer{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 5rem;
    line-height: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
.sequ_footer>div:nth-of-type(1){
    padding-left: 1.2rem;
}
.sequ_footer>div:nth-of-type(2){
    padding-right: 1.2rem;
}
.sequ_footer>div:nth-of-type(1){
    font-size: 1.5rem;
    color: #333333;
}
.sequ_footer>div:nth-of-type(2)>span:nth-of-type(1){
    margin-right: 2.5rem;
}

.jiexiBox{
    border-top: 1px #dddddd solid;
    padding-bottom: 1.8rem;
    display: none;
}
.jiexititle{
    padding: 1rem 0;
    font-size: 1.7rem;
}
.jiexitext{
    font-size: 1.5rem;
}

@-webkit-keyframes sliderightout{from{-webkit-transform:translateX(0px);opacity:1}to{-webkit-transform:translateX(50%);opacity:0}}
@-webkit-keyframes slideleftin{from{-webkit-transform:translateX(-50%);opacity:0}to{-webkit-transform:translateX(0px);opacity:1}}
@-webkit-keyframes slideleftout{from{-webkit-transform:translateX(0px);opacity:1}to{-webkit-transform:translateX(-50%);opacity:0}}
@-webkit-keyframes sliderightin{from{-webkit-transform:translateX(50%);opacity:0}to{-webkit-transform:translateX(0px);opacity:1}}

.slideleftout{-webkit-animation:slideleftout 350ms ease-in-out;}
.slideleftin{-webkit-animation:slideleftin 350ms ease-in-out;}
.sliderightout{-webkit-animation:sliderightout 350ms ease-in-out;}
.sliderightin{-webkit-animation:sliderightin 350ms ease-in-out;}
.animatestart{overflow-x:hidden}
.animatestart .page-container{overflow-x:hidden;-webkit-transform:translate3d(0,0,0);-webkit-backface-visibility:hidden;background-color:#f5f5f5}
