@font-face {
    font-family: 'iconfont';
    src:url('/jyb/src/font/iconfont.eot?t=1481258770901');/*IE9*/
    src:url('/jyb/src/font/iconfont.eot?t=1481258770901#iefix') format('embedded-opentype'),/*IE6-8*/
    url('/jyb/src/font/iconfont.woff?t=1481258770901') format('woff'),/*chrome firefox*/
    url('/jyb/src/font/iconfont.ttf?t=1481258770901') format('truetype'),/*chrome firefox opera Safari*/
    url('/jyb/src/font/iconfont.svg?t=1481258770901#iconfont') format('svg')/*ios 4.1-*/
}
.iconfont{
    font-family: 'iconfont' !important;
}