<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jyb.dao.DriverOrderMapper">
  <resultMap id="BaseResultMap" type="cn.jyb.entity.DriverOrder">
    <id column="driver_order_id" jdbcType="INTEGER" property="driverOrderId" />
    <result column="depart_time" jdbcType="VARCHAR" property="departTime" />
    <result column="departure" jdbcType="VARCHAR" property="departure" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="fare" jdbcType="DECIMAL" property="fare" />
    <result column="seat" jdbcType="TINYINT" property="seat" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="publish_id" jdbcType="INTEGER" property="publishId" />
    <result column="receipt_id" jdbcType="INTEGER" property="receiptId" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="receipt_time" jdbcType="TIMESTAMP" property="receiptTime" />
  </resultMap>
  <sql id="Base_Column_List">
    driver_order_id, depart_time, departure, destination, fare, seat, car_type, contact, 
    contact_phone, remark, publish_id, receipt_id, order_type, order_status, publish_time, 
    receipt_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from driver_order
    where driver_order_id = #{driverOrderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver_order
    where driver_order_id = #{driverOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jyb.entity.DriverOrder">
    <selectKey keyProperty="driverOrderId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into driver_order (driver_order_id, depart_time, departure, 
      destination, fare, seat, 
      car_type, contact, contact_phone, 
      remark, publish_id, receipt_id, 
      order_type, order_status, publish_time, 
      receipt_time)
    values (#{driverOrderId,jdbcType=INTEGER}, #{departTime,jdbcType=VARCHAR}, #{departure,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{fare,jdbcType=DECIMAL}, #{seat,jdbcType=TINYINT}, 
      #{carType,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{publishId,jdbcType=INTEGER}, #{receiptId,jdbcType=INTEGER}, 
      #{orderType,jdbcType=TINYINT}, #{orderStatus,jdbcType=TINYINT}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{receiptTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.jyb.entity.DriverOrder">
    <selectKey keyProperty="driverOrderId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into driver_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      driver_order_id,
      <if test="departTime != null">
        depart_time,
      </if>
      <if test="departure != null">
        departure,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="fare != null">
        fare,
      </if>
      <if test="seat != null">
        seat,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="publishId != null">
        publish_id,
      </if>
      <if test="receiptId != null">
        receipt_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="receiptTime != null">
        receipt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{driverOrderId,jdbcType=INTEGER},
      <if test="departTime != null">
        #{departTime,jdbcType=VARCHAR},
      </if>
      <if test="departure != null">
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="fare != null">
        #{fare,jdbcType=DECIMAL},
      </if>
      <if test="seat != null">
        #{seat,jdbcType=TINYINT},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="publishId != null">
        #{publishId,jdbcType=INTEGER},
      </if>
      <if test="receiptId != null">
        #{receiptId,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptTime != null">
        #{receiptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jyb.entity.DriverOrder">
    update driver_order
    <set>
      <if test="departTime != null">
        depart_time = #{departTime,jdbcType=VARCHAR},
      </if>
      <if test="departure != null">
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="fare != null">
        fare = #{fare,jdbcType=DECIMAL},
      </if>
      <if test="seat != null">
        seat = #{seat,jdbcType=TINYINT},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="publishId != null">
        publish_id = #{publishId,jdbcType=INTEGER},
      </if>
      <if test="receiptId != null">
        receipt_id = #{receiptId,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiptTime != null">
        receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where driver_order_id = #{driverOrderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jyb.entity.DriverOrder">
    update driver_order
    set depart_time = #{departTime,jdbcType=VARCHAR},
      departure = #{departure,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      fare = #{fare,jdbcType=DECIMAL},
      seat = #{seat,jdbcType=TINYINT},
      car_type = #{carType,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      publish_id = #{publishId,jdbcType=INTEGER},
      receipt_id = #{receiptId,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=TINYINT},
      order_status = #{orderStatus,jdbcType=TINYINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      receipt_time = #{receiptTime,jdbcType=TIMESTAMP}
    where driver_order_id = #{driverOrderId,jdbcType=INTEGER}
  </update>
  
  
</mapper>