<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jyb.dao.IdCardMapper">
  <resultMap id="BaseResultMap" type="cn.jyb.entity.IdCard">
    <id column="idcard_id" jdbcType="INTEGER" property="idcardId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="idcard_no" jdbcType="VARCHAR" property="idcardNo" />
    <result column="idcard_pic" jdbcType="VARCHAR" property="idcardPic" />
    <result column="idcard_realname" jdbcType="VARCHAR" property="idcardRealname" />
    <result column="idcard_sex" jdbcType="VARCHAR" property="idcardSex" />
    <result column="idcard_address" jdbcType="VARCHAR" property="idcardAddress" />
    <result column="realname_status" jdbcType="TINYINT" property="realnameStatus" />
    <result column="cert_time" jdbcType="TIMESTAMP" property="certTime" />
  </resultMap>
  <sql id="Base_Column_List">
    idcard_id, user_id, idcard_no, idcard_pic, idcard_realname, idcard_sex, idcard_address, 
    realname_status, cert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from idcard
    where idcard_id = #{idcardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from idcard
    where idcard_id = #{idcardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jyb.entity.IdCard">
    <selectKey keyProperty="idcardId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into idcard (idcard_id, user_id, idcard_no, 
      idcard_pic, idcard_realname, idcard_sex, 
      idcard_address, realname_status, cert_time
      )
    values (#{idcardId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{idcardNo,jdbcType=VARCHAR}, 
      #{idcardPic,jdbcType=VARCHAR}, #{idcardRealname,jdbcType=VARCHAR}, #{idcardSex,jdbcType=VARCHAR}, 
      #{idcardAddress,jdbcType=VARCHAR}, #{realnameStatus,jdbcType=TINYINT}, #{certTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.jyb.entity.IdCard">
    <selectKey keyProperty="idcardId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into idcard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      idcard_id,
      <if test="userId != null">
        user_id,
      </if>
      <if test="idcardNo != null">
        idcard_no,
      </if>
      <if test="idcardPic != null">
        idcard_pic,
      </if>
      <if test="idcardRealname != null">
        idcard_realname,
      </if>
      <if test="idcardSex != null">
        idcard_sex,
      </if>
      <if test="idcardAddress != null">
        idcard_address,
      </if>
      <if test="realnameStatus != null">
        realname_status,
      </if>
      <if test="certTime != null">
        cert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{idcardId,jdbcType=INTEGER},
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="idcardNo != null">
        #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="idcardPic != null">
        #{idcardPic,jdbcType=VARCHAR},
      </if>
      <if test="idcardRealname != null">
        #{idcardRealname,jdbcType=VARCHAR},
      </if>
      <if test="idcardSex != null">
        #{idcardSex,jdbcType=VARCHAR},
      </if>
      <if test="idcardAddress != null">
        #{idcardAddress,jdbcType=VARCHAR},
      </if>
      <if test="realnameStatus != null">
        #{realnameStatus,jdbcType=TINYINT},
      </if>
      <if test="certTime != null">
        #{certTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jyb.entity.IdCard">
    update idcard
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="idcardNo != null">
        idcard_no = #{idcardNo,jdbcType=VARCHAR},
      </if>
      <if test="idcardPic != null">
        idcard_pic = #{idcardPic,jdbcType=VARCHAR},
      </if>
      <if test="idcardRealname != null">
        idcard_realname = #{idcardRealname,jdbcType=VARCHAR},
      </if>
      <if test="idcardSex != null">
        idcard_sex = #{idcardSex,jdbcType=VARCHAR},
      </if>
      <if test="idcardAddress != null">
        idcard_address = #{idcardAddress,jdbcType=VARCHAR},
      </if>
      <if test="realnameStatus != null">
        realname_status = #{realnameStatus,jdbcType=TINYINT},
      </if>
      <if test="certTime != null">
        cert_time = #{certTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where idcard_id = #{idcardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jyb.entity.IdCard">
    update idcard
    set user_id = #{userId,jdbcType=INTEGER},
      idcard_no = #{idcardNo,jdbcType=VARCHAR},
      idcard_pic = #{idcardPic,jdbcType=VARCHAR},
      idcard_realname = #{idcardRealname,jdbcType=VARCHAR},
      idcard_sex = #{idcardSex,jdbcType=VARCHAR},
      idcard_address = #{idcardAddress,jdbcType=VARCHAR},
      realname_status = #{realnameStatus,jdbcType=TINYINT},
      cert_time = #{certTime,jdbcType=TIMESTAMP}
    where idcard_id = #{idcardId,jdbcType=INTEGER}
  </update>
  
  <select id="findByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from idcard
    where user_id=#{userId}
  </select>
</mapper>