<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.jyb.dao.OrdersDao">
	
	<insert id="save" parameterType="cn.jyb.entity.Orders">
		INSERT INTO orders(
			out_trade_no,
			subject,
			body,
			total_amount,
			seller_id,
			creatime,
			trade_status,
			payer_id,
			receiver_id,
			pay_method,
			address,
			order_type)
		VALUES(
			#{out_trade_no},
			#{subject},
			#{body},
			#{total_amount},
			#{seller_id},
			CURRENT_TIMESTAMP,
			#{trade_status},
			#{payer_id},
			#{receiver_id},
			#{pay_method},
			#{address},
			#{orderType})
	</insert>
	
	<delete id="delete" parameterType="String">
		DELETE FROM orders WHERE out_trade_no=#{out_trade_no}	
	</delete>
	
	<select id="findByNo" parameterType="String" resultType="cn.jyb.entity.Orders">
		SELECT * FROM orders WHERE out_trade_no=#{out_trade_no}
	</select>
	
	<update id="updateStatus" parameterType="String">
		UPDATE orders SET trade_status=#{trade_status} WHERE out_trade_no=#{out_trade_no}
	</update>
	
	<update id="finishOrder" parameterType="String">
		UPDATE orders SET finishtime=CURRENT_TIMESTAMP WHERE out_trade_no=#{out_trade_no}
	</update>

    <select id="listOrders" resultType="java.util.Map">
        SELECT (select count(*) from orders 
                where order_type=#{orderType}
                <if test="tradeStatus != null and '' != tradeStatus">
                  and trade_status = #{tradeStatus}
                </if>)as totalNum,orders.* 
        FROM orders
        WHERE order_type = #{orderType}
        <if test="tradeStatus != null and '' != tradeStatus">
        AND trade_status = #{tradeStatus}
        </if>
        LIMIT #{offset},#{pageSize}
    </select>
</mapper>









