<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.jyb.dao.StudentScheduleDao">
	
	<!-- 保存教练信息 -->
	<insert id="saveStudentSchedule" useGeneratedKeys="true" keyProperty="id"
		parameterType="cn.jyb.entity.StudentSchedule">
		INSERT INTO student_schedule(
			student_id,
			coach_id, 
			appoint_time, 
			time1, 
			time2, 
			time3, 
			time4, 
			time5, 
			time6, 
			time7, 
			time8, 
			time9, 
			time10,
			subtype)
		VALUES(
			#{student_id},
			#{coach_id}, 
			#{appoint_time}, 
			#{time1}, 
			#{time2}, 
			#{time3}, 
			#{time4}, 
			#{time5}, 
			#{time6}, 
			#{time7}, 
			#{time8}, 
			#{time9}, 
			#{time10},
			#{subtype})
	</insert>

	<select id="findSchedule" resultType="cn.jyb.entity.StudentSchedule">
		SELECT * FROM student_schedule 
		WHERE appoint_time=#{appoint_time} AND coach_id=#{coach_id} AND subtype=#{subtype} AND student_id=#{student_id}
	</select>

	<update id="updateStudentSchedule" parameterType="cn.jyb.entity.StudentSchedule">
		UPDATE student_schedule SET
			time1=#{time1}, 
			time2=#{time2}, 
			time3=#{time3}, 
			time4=#{time4}, 
			time5=#{time5}, 
			time6=#{time6}, 
			time7=#{time7}, 
			time8=#{time8}, 
			time9=#{time9}, 
			time10=#{time10},
		WHERE
			student_id=#{student_id} AND
			coach_id=#{coach_id} AND
			appoint_time=#{appoint_time} AND
			subtype=#{subtype}	
	</update>
	
	<select id="listTimeCount" resultType="java.util.Map">
		SELECT sum(time1) as count1,
		       sum(time2) as count2,
		       sum(time3) as count3,
		       sum(time4) as count4,
		       sum(time5) as count5,
		       sum(time6) as count6,
		       sum(time7) as count7,
		       sum(time8) as count8,
		       sum(time9) as count9,
		       sum(time10) as count10
		FROM student_schedule
		WHERE coach_id=#{coach_id} AND appoint_time=#{appoint_time}
	</select>
</mapper>









